.body{
    background-color: #dddddd37;
}
.header{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 2.5em;
    line-height: 4;

}
.btn{
    margin-left: 27em;
    background-color: brown;
    color: white;
}