

<footer class="text-center text-lg-start col-12">

  
    <div class=" p-2">


      <div class="col-12">
        <p class="Curve1 p-1 "></p>
        <p class="Curve2 "></p>
      </div>
    



      <div class="row">
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0 text-center sideWord">
          <h1 >Need help with<img src="../../../assets/sparkle.png" class="px-2"> anything?</h1>
  
          <p class="mt-2">
           Let's hear all about it! <a routerLink="homes/Contact"><u>Contact Us</u></a> 
          </p>
        </div>
         <div class="col-lg-2 col-md-6 mb-4 mb-md-0 text-center"> 
            <h6 class="text-uppercase mb-0 section">Menu</h6>
               <ul class="list-unstyled wow animated flash ">
                 <li class="wow animated flash ">
                 <span>About Us</span>
                 </li>
                 <li class="wow animated flash ">
                    <span>History</span>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0 text-center"> 
            <h6 class="text-uppercase mb-0 section">Product</h6>
               <ul class="list-unstyled wow animated flash " data-wow-delay="0.6s">
                 <li>
                 <span>Categories</span>
                 </li>
                 <li>
                    <span>Pricing</span>
                </li>
                <li>
                    <span>Testimonials</span>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0 text-center "> 
            <h6 class="text-uppercase mb-0 section">Discover</h6>
               <ul class="list-unstyled wow animated flash " data-wow-delay="0.6s">
                 <li>
                 <span>Customer</span>
                 </li>
                 <li>
                    <span>Privacy</span>
                </li>
                <li>
                    <span>FAQ's</span>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0 text-center"> 
            <h6 class="text-uppercase mb-0 section">Follow Us</h6>
               <ul class="list-unstyled wow animated flash ">
                 <li>
                 <span><i class="bi bi-facebook"></i> &nbsp;&nbsp; <i class="bi bi-instagram"></i> &nbsp;&nbsp; <i class="bi bi-twitter"></i></span>
                 </li>
            </ul>
        </div>
            </div>
    </div>
    <div class="text-center p-3 text-white copyrights col-12 wow animated bounce " style="background-color: #060606;">
      © 2022 Copyright:
      <span class="text-white">TeaPotty.com</span>
    </div>
  </footer>

