.Curve1{
 
    bottom:16.8em;
    width:99%;
  border:solid .08em #000;
  border-bottom: none;
    border-color:#000 transparent transparent transparent;
    border-radius: 100%/7em 3em 0 0 ;
}
.Curve2{
 
    bottom:17.5em;
    width:98%;
  border:solid .08em #000;
  border-bottom: none;
    border-color:#000 transparent transparent transparent;
    border-radius: 100%/3em 7em 0 0;
}
footer{
  
  position: relative;
    bottom:0;
    width:100%;
    background-color: #dddddd37;
}
.section{
  margin-top: 1.7em;
  margin-left: 3em;
}
li{
  color: #A5A6A9;
font-size: .9em;
font-weight: 350;
margin-top: 1em;
margin-left: 3em;
}
h6{
    font-weight: 450;
}
p,a{
    color: #A5A6A9;
    font-size: .9em;
font-weight: 350;
font-size: 1em;
font-weight: 350;
margin-top: 1em;
margin-left: .4em;
text-align: left;
}
h1{
  font-size: 2.8em;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: left;
}
.copyrights{
  font-size: .7em;
font-weight: 350;
}
