<div class="col-12">
  <p class="Container1 p-4"></p>
  <p class="Container2 p-3"></p>
</div>
<footer class="text-center text-lg-start col-12">
    <div class="container p-5">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0 text-center sideWord">
          <h1>Need help <img src="../../../assets/sparkle.png"> </h1>
          <h1>with anything?</h1>
  
          <p>
           Let's hear all about it! <a routerLink="homes/Contact"><u>Contact Us</u></a> 
          </p>
        </div>
         <div class="col-lg-2 col-md-6 mb-4 mb-md-0 text-center"> 
            <h6 class="text-uppercase mb-0 section">Menu</h6>
               <ul class="list-unstyled">
                 <li>
                 <span>About Us</span>
                 </li>
                 <li>
                    <span>History</span>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0 text-center"> 
            <h6 class="text-uppercase mb-0 section">Product</h6>
               <ul class="list-unstyled">
                 <li>
                 <span>Categories</span>
                 </li>
                 <li>
                    <span>Pricing</span>
                </li>
                <li>
                    <span>Testimonials</span>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0 text-center"> 
            <h6 class="text-uppercase mb-0 section">Discover</h6>
               <ul class="list-unstyled">
                 <li>
                 <span>Customer</span>
                 </li>
                 <li>
                    <span>Privacy</span>
                </li>
                <li>
                    <span>FAQ's</span>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0 text-center"> 
            <h6 class="text-uppercase mb-0 section">Follow Us</h6>
               <ul class="list-unstyled">
                 <li>
                 <span><i class="bi bi-facebook"></i> &nbsp;&nbsp; <i class="bi bi-instagram"></i> &nbsp;&nbsp; <i class="bi bi-twitter"></i></span>
                 </li>
            </ul>
        </div>
            </div>
    </div>
    <div class="text-center p-3 text-white copyrights col-12" style="background-color: #060606;">
      © 2022 Copyright:
      <span class="text-white">TeaPoty.com</span>
    </div>
  </footer>