.form-group2{
    margin-left: 13em;
    width:100%
}
label{
    color: rgb(180, 136, 26);
    font-size: 1.4em;
    margin-bottom: .6em;
    margin-top: 1em;
}
.btnCancle{
    color: white;
    background-color:brown
}

.bg{
    background-color: black;
}