
  <div  class="card CardDisplayAsid wow animated slideInLeft "  data-wow-delay="100s" data-wow-duration="30s">
    <img class="card-img-top cardImg"  src="{{product.image[0]}}" alt="Card image cap">
    <div class="card-body">
        <h6 class="fs-6" style="color: #797679; font-weight:300 ;"> {{product.cat}} </h6>
      <h4 class="fs-5"> {{product.subName}} </h4>
      <div class="d-flex row">
        <h5 class="fs-6 col-8" style="color: #797679;">Price : {{product.price}}</h5>
        <div class="d-flex">
       <h5> <a class="btn btn-success" routerLink='/Home/Products/{{product.id}}' > Details </a></h5>
        <div *ngIf="IsUpdatable">
          <h5>
            <a type="button" class="btn btn-dark"(click)="update()">update</a>
            <a type="button" class="btn btn-danger" (click)="delete()">Delete</a>
          </h5>

        </div>
      </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>
