.frangipaniDiv {
  height: 18em;
  width: 14em;
  background-color: white;
  border: 2px solid #e9e6d8;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}
.frangipaniDiv2 {
  height: 20em;
  width: 16em;
  background-color: white;
  border: 2px solid  white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  margin: 2em;
}


.frangipaniImg {
  width: 10em;
  height: 10em;
  margin-top: 4em;
  margin-left: 1.6em;
}