.frangipaniDiv{
height: 18em;
width: 14em;
background-color: white;
border: 2px solid;
border-top-left-radius:50% ;
	border-top-right-radius:50% ;
    border-bottom-right-radius:50%;
    border-bottom-left-radius:50%;
margin: 2em;
}
.frangipaniImg{
    width: 10em;
    height: 10em;
    margin-top: 4em;
    margin-left: 1.6em;
}
.frangipani span {
    position: absolute;
    bottom: -49%;
    left:9.3%;
    width:1em;
    height: 5em;
    margin-left: 0em;
    line-height: 2em;
    text-align: center;
    transform-origin: top center;

  }
  .frangipani span:nth-of-type(1)  {
    transform: rotate(-75.5deg);
  }
  .frangipani span:nth-of-type(2)  {
    transform: rotate(-58.7deg);
  }
  .frangipani span:nth-of-type(3)  {
    transform: rotate(-41.9deg);
  }
  .frangipani span:nth-of-type(4)  {
    transform: rotate(-25.1deg);
  }
  .frangipani span:nth-of-type(5)  {
    transform: rotate(-8.3deg);
  }
  .frangipani span:nth-of-type(6)  {
    transform: rotate(8.5deg);
  }
  .frangipani span:nth-of-type(7)  {
    transform: rotate(25.3deg);
  }
  .frangipani span:nth-of-type(8)  {
    transform: rotate(42.1deg);
  }
  .frangipani span:nth-of-type(9)  {
    transform: rotate(58.9deg);
  }
  .frangipani span:nth-of-type(10)  {
    transform: rotate(75.5deg);
  }
  /* Reverse mode */
  .inverso {
    font-weight: bold;
  }
  .inverso span {
    line-height: 0px;
    transform-origin: bottom center;
  }