<div class="container  mt-3">



 <div class="row">

    <div class="col-6 "> 
     <H5 class="title"> Our  
        <span style="text-decoration: line-through">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 
      </H5>
     <H5 class="title">Categories</H5>
    </div>
    <div class="col-5 ">
      <p class="fontSecandry"> Various type of unique teaPoty Products </p>
      <p class=" fontSecandry mb-3">searsh for what cagtegory matrial you wants</p>
    </div>

 </div>


 <div class=" warper">
   
<app-item-category *ngFor="let cat of cats " [category]="cat"></app-item-category>
 </div>

</div>