<div class="container1 col-12"  style=" padding-left:2em; border-radius: 2px solid red;">

    <div class="col-6 wow animated bounce text-decoration p-5">
        <h5 class="row m-1"> Save 20% for today!
            <p class="text-muted"> </p>
        </h5>

        <div class="newslatter row">
            <form class="newform">
                <input class="newforminput" type="email" name="email" id="mail"
                    placeholder="Subscribe today To Get 20% Discount">
                <input class="newforminputtow" type="submit" name="submit" value="Go">
            </form>
        </div>
    </div>

    <div class="row col-8 mt-3 d-flex  " style="right: 0%;">
        <img class="col-5 wow animated swing" id="img3" src="../../../assets/imges/deal.png">
    </div>
</div>
