<p>deal works!</p>
<div  style="flex-wrap:wrap; align-items: center;" class="col-12 d-flex">
    <div class="col-6" style="margin: 2% ">
        <h1 class="col-6"> Save 20% for today!
        <p class="text-muted"> </p></h1>
        <div class="newslatter" class="col-md-4 col-6">
            <form class="newform">
                <input class="newforminput" type="email" name="email" id="mail" placeholder="Enter Your Email To Get Discount 20%">
                <input class="newforminputtow" type="submit" name="submit" value="Go">
            </form>
        </div>  
          
    </div>

    <div class="col-3">
        <img src="https://i.etsystatic.com/28475776/r/il/2c5904/3562206750/il_794xN.3562206750_9xa6.jpg" style="width: 200px;"><img src="../../../assets/sparkle.png" class="px-2">
    </div>
</div>