
anym{
    animation: y 1s infinite ;
}
@keyframes y{
    from{ 
     transform: rotate(0deg);
      
    }
    to{
        
      transform: rotate(360deg);
    }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
