<<<<<<< HEAD

anym{
    animation: y 1s infinite ;
}
@keyframes y{
    from{ 
     transform: rotate(0deg);
      
    }
    to{
        
      transform: rotate(360deg);
    }
}
=======
>>>>>>> 5b3457a8246c66ff7e24ee370c466908889f8a36
