 <div class="features">
    <div class="leftFeatures">
    <h5 class="title">New Features</h5>
   <ol class="col-lg-7 col-md-12">
     <div>
       <li>
         <h4>The Best Price</h4>
       </li>
       <h6 class="col-lg-12 paragraph">The best price we provide is iin accordance with the quality and quantity of teapots we provide</h6>
     </div>
     <div>
       <li>
         <h4>Unique Style</h4>
       </li>
       <h6 class="col-lg-12 paragraph">A unique and different style from other teapots gives a luxurious and minimalist impression</h6>
     </div>
     <div>
       <li>
         <h4>Premium Quality</h4>
       </li>
       <h6 class="col-lg-12 paragraph">Premium quality that makes teapots</h6>
     </div>
   </ol>
 </div>
 <div class="col-lg-4 col-md-10 rightFeatures">
   <img src="../../../assets/features.png" class="featureImage">
 </div>
 </div>
