<div class="container1 col-12">
<div class="rightSection"></div>
<div class="leftSection col-lg-4 col-md-12">
    <form class="col-12">
        <div class="label">
        <label>Name</label>
       </div>
        <input type="text" placeholder="Name" class="col-lg-10 col-md-10">
        <div class="label">
        <label>Email</label>
       </div>
        <input type="email" placeholder="Email" class="col-lg-10 col-md-10">
        <div class="label">
        <label>Message</label>
    </div>
        <textarea placeholder="Message" cols="29" rows="3"></textarea>
   </form>
</div>
</div>