<div class="container-fluid mb-0 ">
    <!-- ------container -->
    
    <div class="row">
    <nav class="navbar navbar-expand-lg   d-flex mb-0 "style="height: 69px;">
        <div class="container-fluid">
    
    
       
    
            <div class="collapse navbar-collapse  " id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active text-decoration-none teaItem" aria-current="page" href="#">Tea<span
                            class="spanPot">Poty</span></a>
    
                    <a class="nav-link  fs-4 navRouting" aria-current="page" routerLink="/">Home</a>
                    <a class="nav-link  fs-4 navRouting" routerLink="/Home/Products">Product</a>
                    <a class="nav-link  fs-4 navRouting"  routerLink="/Home/crude">Details</a>
    
                    <form class="d-flex">
                        <div class="rounded-pill bg-light d-flex"> <input type="text"
                                class="form-control rounded-pill border-0 outiline-0 bg-transparent shadow-none py-1"
                                placeholder="Search..." aria-label="Search ..."> <span class="pe-2 pt-1 pb-1"> <i
                                    class="bi bi-search-heart " style="width: 50px; height: 70px;"></i> </span> </div>
                                    <i class="mt-2 mx-3 fs-4" style="color:brown;"><app-cart></app-cart></i>
                                    <!-- <i class="bi bi-cart mt-2 mx-3 fs-4" style="color:brown;"><app-cart></app-cart></i> -->
                    </form>
    
                </div>
            </div>
        </div>
    </nav>
    
    
    
    <!-----row----------------->
    </div>
    <!-- ------container -->
    
    </div>