<div class="container-fluid ">
    <!-- ------container -->
    
    <div class="row">
    <nav class="navbar navbar-expand-lg  bg-black d-flex mb-0 ">
        <div class="container-fluid">
    
    
       
    
            <div class="collapse navbar-collapse  " id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active text-decoration-none teaItem" aria-current="page" href="#">Tea<span
                            class="spanPot">Potty</span></a>
    
                    <a class="nav-link " aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Product</a>
                    <a class="nav-link" href="#">Details</a>
    
                    <form class="d-flex">
                        <div class="rounded-pill bg-light d-flex"> <input type="text"
                                class="form-control rounded-pill border-0 outiline-0 bg-transparent shadow-none py-1"
                                placeholder="Search..." aria-label="Search ..."> <span class="pe-2 pt-1 pb-1"> <i
                                    class="bi bi-search-heart " style="width: 50px; height: 70px;"></i> </span> </div>
                    </form>
    
                </div>
            </div>
        </div>
    </nav>
    
    
    
    <!-----row----------------->
    </div>
    <!-- ------container -->
    
    </div>