
<div class=" container-fluid bg-black  d-flex  mb-0">
    <div class="row welcom">

        <div class="left col-lg-6 col-md-4  ">


            <div class="content ">

                <h2 class="m-5 w-50" style="color: #696869;">
                    Simple way to choose your teapots
                </h2>
                <div class="newslatter">
                    <form>
                        <input type="email" name="email" id="mail" placeholder="Enter Your Email To Get Discount 20%">
                        <input type="submit" name="submit" value="Go">
                    </form>
                </div>

                <div class="para row">
                    <div class="col-4">
                        <h3 class="num100 " style="color: #696869;">100+</h3>
                        <span class="span100 " style="color: #696869;">uniqly style</span>
                    </div>

                    <div class="col-1">
                        <h3 class="num100" style="color: #696869;" >|</h3>

                    </div>
                    <div class="col-4">
                        <h3 class="num100" style="color: #696869;">98+</h3>
                        <span class="span100" style="color: #696869;">super models </span>
                    </div>
                </div>

            </div>

        </div>

        <div class="right col-lg-6 col-md-4">
            <div class="img1">
            </div>
            <div class="imgs23 ">
                 <img class="imgAll" src="../../../assets/imges/1.jpeg"> 
                 <img class="imgAll" src="../../../assets/imges/2.jpeg"> 
                 <img class="imgAll" id="img3" src="../../../assets/imges/3.jpeg"> 
            </div>
        </div>

    </div>

</div>