
<div class="d-flex mb-0 welcome">
    <div class="row welcom">

        <div class="left col-lg-6 col-md-4  ">


            <div class="content ">
   <div>
    <div><h6 class="col-6">Teapot collection with premium quality</h6></div>
       <div><h2 class="col-5">Simple way to choose your &nbsp;&nbsp;<i class="bi bi-stars" style="color:rgb(255, 217, 0);"></i> teapots</h2></div>
    </div>
                <div class="newslatter">
                    <form>
                        <input type="email" name="email" id="mail" placeholder="Enter Your Email To Get Discount 20%">
                        <input type="submit" name="submit" id="go" value="Go">
                    </form>
                </div>

                <div class="row">
                    <div class="col-2 d-flex">
                        <div class="num100 " style="color:white;  margin-right:.7em; font-size: 2em;">100+</div>
                        <div class="span100 col-1" style="color: #949094; font-size: 1em; line-height: 1;">uniqly style</div>
                    </div>
                    <div class="col-1">
                        <h3 class="num100" style="color: #949094;" >|</h3>
                    </div>
                    <div class="col-2 d-flex">
                        <div class="num100" style="color:white; margin-right:.7em; font-size: 2em;">98+</div>
                        <div class="div100 col-1" style="color: #949094; font-size: 1em; line-height: 1;">superb models </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-lg-6 col-md-4" style="margin-left:40em;">
            <div class="imgs23 d-flex images">
                <div>
                 <img id="img1" src="../../../assets/imges/3.jpeg">
                </div>
                <div>

                    <div><img id="img2" src="../../../assets/imges/2.jpeg"></div>
                    <div><img id="img3" src="../../../assets/imges/3.jpg"></div>
                </div>
            </div>
        </div>

    </div>

</div>