<!-- 
 <app-header></app-header>
 <router-outlet></router-outlet> 
  <app-footer></app-footer>     -->
<!-- 


  <app-item-category></app-item-category>
-->

<!-- <app-product></app-product>
<app-category></app-category> -->
<!-- 



<app-footer></app-footer>  
 -->
<!-- -->
<!-- <app-crud></app-crud>
<app-dialog></app-dialog> -->
<!-- <app-product></app-product> -->
<!-- <router-outlet></router-outlet> 
<app-product-details></app-product-details> -->


<!-- not complited yet  -->
 <app-header></app-header>
<router-outlet></router-outlet> 
<app-footer></app-footer>
<!-- <app-cart></app-cart> -->